.hdbtn1 {
    box-sizing: border-box;

    /* Auto layout */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 2.5rem;
    color: white;

    font-size: 16px;
    /* Orange Main */

    border: 2px solid #F26938;
    border-radius: 20px;

    /* Inside auto layout */


}

.hdbtn2 {
    box-sizing: border-box;

    /* Auto layout */
    background-color: #F26938;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 2.5rem;
    color: white;

    font-size: 16px;
    /* Orange Main */
    border: 2px solid #F26938;
    border-radius: 20px;

    /* Inside auto layout */


}

.hdbtn3 {
    box-sizing: border-box;

    /* Auto layout */
    background-color: #F26938;
    display: flex;
    flex-direction: row;

    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 4rem;
    color: white;

    font-size: 16px;
    /* Orange Main */
    border: 2px solid #F26938;
    border-radius: 1000px;
    /* Inside auto layout */


}

.hero-sub-heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.hero-heading {
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
    color: white;
    /* identical to box height */

    text-transform: uppercase;
}

.heroctapara {
    color: #707479;
    font-size: 14px;
    width: 11.5rem;
    margin: 0 15px;
}

.card {
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(242, 105, 56, 0.5);
    border-radius: 16px;
    margin: 0 32px;
    cursor: pointer;

}




.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.footerr {
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
}

.forlogo {
    flex-direction: column;
    align-items: flex-start
}

.text-white {
    color: white !important;
}


button.slick-prev.slick-arrow {
    display: none !important;
}

.playbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    background-color: #dbdbdb8f;
    /* opacity: 0.7; */
    padding: 4% 2% !important;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
}
.row.slidernegative {
    margin-right: -24rem !important;
}


@media only screen and (max-width: 820px) {
    .slick-list{padding:0 20% 0 0 !important;}
    .row.slidernegative {
    margin-right: 0rem !important;
}
/*.card {*/
/*    margin: 0 18px;*/
/*}*/
/*.slick-slide {*/
/*    width: 250px !important;*/
/*}*/
    .footerr {
        justify-content: center !important;
        flex-direction: column;
    }

    .forlogo {
        align-items: center;
    }
}

/* Slick Slide */
.slick-dots li button:before {
    font-family: 'Poppins' !important;
    font-size: 15px !important;
    line-height: 20px !important;
    position: absolute;
    top: 0;
    left: 0;
    content: '_' !important;
    text-align: center;
    opacity: 1 !important;
    color: gray !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: #F26938 !important;
}

.slick-dots li.slick-active button:before {
    color: red !important;
}



ul.slick-dots {
    margin: -3% 3% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    width: 80% !important;
}

.slick-dots li {
    background-color: #757A80;
    opacity: 0.25 !important;
    height: 2px !important;
    width: 20% !important;
    margin: 0 !important;
}

li.slick-active {
    background-color: #F26938;
    opacity: 1 !important;
    transition: ease-in-out !important;
}


.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    display: none;
}

@media only screen and (max-width: 820px) {
    .slick-dots li {
    width: 5% !important;

}

    ul.slick-dots {
        margin: -3% 3% !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
            width: 100% !important;
    margin-left: -70px !important;
    }
}

button.slick-next.slick-arrow {
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .reverse {
        flex-direction: column-reverse !important;
    }
}
@media only screen and (max-width: 820px) {

    #mainNav{
        position: static;
    }
    
    img.imgsec1 {
        width: 100% !important;
    }
    button.hdbtn3 {
        width: 100% !important;
    }
    .herotxt {
        padding-bottom: 20rem;
    }
    
    header.masthead {
        padding: 35px 0 !important;
        background-color: #170d1e;
        background-position: center center;
        background-image: url('../assets/img/herophone.jpg') !important;
        background-size: contain;
    }
    .hero-heading{
        font-size:44px !important;
        line-height:124% !important;
    }
    .hero-sub-heading{
        font-size:18px !important;
        line-height:20px !important;
    }
    .hdbtn3 {
        width: 25rem !important;
        margin: 2% 0;
    }

    .heroctapara {
        width: 100% !important;
        text-align: center !important;
        margin-top: 5px !important;
        line-height: 21px !important;
    }

    .herocta {
        flex-direction: column !important;
        align-items: center !important;
    }

    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0 {
        justify-content: center;
        align-items: center !important;
    }

    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0 {
        height: inherit !important;
    }

    div#navbarResponsive {
        height: 640px !important;
    }

    div#navbarResponsive>ul>li {
        padding: 2% 0 !important;
    }
}